/* Hides the border around the entire grid */
.ag-theme-alpine .ag-root-wrapper {
    border: none !important;
  }

.ag-theme-alpine-dark .ag-header-cell-label {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    white-space: normal;
    text-overflow: ellipsis;
}

.ag-theme-alpine-dark .ag-root-wrapper {
    border: none !important;
  }
  
  .ag-theme-alpine-dark .ag-header-cell-label {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    white-space: normal;
    text-overflow: ellipsis;
  }